h1, p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h1 {
    font-size: 50px;
    color: white;
    font-weight: normal;
}

p {
    color: gray;
    font-size: 21px;
}

a {
    color: aquamarine;
    font-size: 16px;
}

body {
    background-color: black;
}

video{
    display: block;
    margin: auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.copyright {
    text-align: right;
}

.phone {
    margin-top: 20px;
}